In [18]:
import pandas as pd
from pathlib import Path

In [19]:
csvpath = Path("budget_data.csv")

In [22]:
dataframe = pd.read_csv(csvpath)

In [23]:
dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [24]:
total_months = dataframe.shape[0]
#print(count_rows)

In [25]:
dataframe['Profit/Losses']

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [34]:
dataframe['average_change_shifted'] = dataframe['Profit/Losses'].shift(1)
dataframe['difference'] = dataframe['Profit/Losses'] - dataframe['average_change_shifted']
dataframe['total'] = dataframe['Profit/Losses'].sum()

In [35]:
print (dataframe['total'])

0     38382578
1     38382578
2     38382578
3     38382578
4     38382578
        ...
81    38382578
82    38382578
83    38382578
84    38382578
85    38382578
Name: total, Length: 86, dtype: int64

In [40]:
dataframe['total'].iloc[0]

38382578

In [49]:
dataframe['difference'] 
round (dataframe['difference'].sum() / (total_months -1) , 2)

-2315.12

In [30]:
print (dataframe['average_change_shifted'])

0          NaN
1     867884.0
2     984655.0
3     322013.0
4     -69417.0
        ...
81    768450.0
82    102685.0
83    795914.0
84     60988.0
85    138230.0
Name: average_change_shifted, Length: 86, dtype: float64

In [78]:
feb = int(dataframe.loc[dataframe['Date'] == "Feb-2012", ['Profit/Losses']] .iloc[0])
# print (f" {dataframe.loc[dataframe['Date'] == 'Feb-2012', ['Profit/Losses']] .iloc[0]}")

In [79]:
jan = int(dataframe.loc[dataframe['Date'] == "Jan-2012", ['Profit/Losses']] .iloc[0])

In [82]:
feb - jan

1926159

In [84]:
sept_2013 = int(dataframe.loc[dataframe['Date'] == "Sep-2013", ['Profit/Losses']] .iloc[0])

In [85]:
aug_2013 =  int(dataframe.loc[dataframe['Date'] == "Aug-2013", ['Profit/Losses']] .iloc[0])

In [86]:
sept_2013 - aug_2013

-2196167

In [99]:
#Financial Analysis
#------------------

months = f"Total Months: = {total_months}"
total_amount = f"Total = {dataframe['total'].iloc[0]}"
average_changes = f"Average Change: = $ {round (dataframe['difference'].sum() / (total_months -1) , 2)}" 
Greatest_Increase_Profits = f"Greatest Increase in Profits: = $ ({feb - jan})" 
Greatest_Decrease_Profit = f"Greatest Decrease in Profits: = $ ({sept_2013 - aug_2013})"




print ('\n'.join(["Financial Analysis","-----------------",months,total_amount,average_changes,Greatest_Increase_Profits,Greatest_Decrease_Profit]))

Financial Analysis
-----------------
Total Months: = 86
Total = 38382578
Average Change: = $ -2315.12
Greatest Increase in Profits: = $ (1926159)
Greatest Decrease in Profits: = $ (-2196167)