In [6]:
import pandas as pd
from pathlib import Path

In [10]:
csvpath = Path("budget_data.csv")

In [46]:
#Variables
csvpath = "budget_data.csv"     #path to the csv file
nb_month = 0        # nb of month included in the dataset
total = 0           # total net amount of profit/losses over the entire period
months = []         # list of the months
profits_losses = [] # list of the profits/losses
changes = []        # changes

In [47]:
import csv
with open('budget_data.csv') as csvfile:
    reader = csv.reader(csvfile, delimiter=',',)
    header = next(reader)
    for row in reader:
        nb_month+=1
        total+=int (row[1])
        average_change+=

In [49]:
dataframe = pd.read_csv(csvpath)

In [50]:
dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [55]:
total_months = dataframe.shape[0]
print(count_rows)

86

In [60]:
dataframe['Profit/Losses']

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [62]:
dataframe['average_change_shifted'] = dataframe['Profit/Losses'].shift(1)
dataframe['difference'] = dataframe['Profit/Losses'] - dataframe['average_change_shifted']

In [66]:
dataframe['difference'] 
dataframe['difference'].sum() / total_months

-2288.1976744186045

In [58]:
print(average_change_shifted)

        Date  Profit/Losses
0        NaN            NaN
1   Jan-2010       867884.0
2   Feb-2010       984655.0
3   Mar-2010       322013.0
4   Apr-2010       -69417.0
..       ...            ...
81  Sep-2016       768450.0
82  Oct-2016       102685.0
83  Nov-2016       795914.0
84  Dec-2016        60988.0
85  Jan-2017       138230.0

[86 rows x 2 columns]

In [67]:
months = f"Total Months: = {total_months}"
total_amount = f"Total = {total}"
average_changes = f"Average Change: = {changes}" 


print ('\n'.join([months, total_amount,average_changes]))

#Total: $38382578
#Average  Change: $-2315.12
#Greatest Increase in Profits: Feb-2012 ($1926159)
#Greatest Decrease in Profits: Sep-2013 ($-2196167)

Total Months: = 86
Total = 38382578
Average Change: = []

In [41]:
new_months = months
print (new_months)

Total Months: = 86